.code-block {
    color: white;
    background-color: #303030;
    padding: 10px;
    border-radius: 10px;
}

.required-label:after {
    content: "必須";
    margin-left: 10px;
    padding: 1px 5px;
    font-size: 12px;
    color: white;
    background-color: rgb(255, 64, 64);
    border-radius: 5px;
}

#input-description {
    height: 5.5em;
}
