:root {
    --color-primary: #8c0100;
    --color-primary-container: #d73928;
    --color-surface: #f8d1cb;
    --color-tertiary: #5e3b00;
    --color-tertiary-container: #a16900;
}

/* Fonts */
.font-noto-sans-jp {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Elemetns */
.body-contents {
    padding-top: 100px;
}

.title {
    padding-top: 20px;
    padding-bottom: 40px;
}
